<h2>
    {{ question }}
    <small>
        ({{ question.pub_date }})
    </small>
</h2>

{% if error_message %}
    <div style="color:red;">{{ error_message }}</div>
{% endif %}

<form action="{% url 'poll:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">
            {{ choice.choice_text }}
        </label>
        <br/>
    {% endfor %}
    <input type="submit" value="Vote!">
</form>
